.navbar_items {
  background: rgb(2,0,36);
  background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(4,4,80,1) 45%, rgba(14,91,107,1) 100%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar_logo {
  color: #fff;
  justify-self: start;
}

.menu_icon {
  display: none;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.nav_links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav_links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav_links_mobile {
  display: none;
}

.selected_link {
  background-color: #6d76f7;
  border-radius: 4px;
}

@media screen and (max-width:812px) {
  
  .navbar_items h1 {
    font-size: 1.2rem;
  }
  
  .navbar_items {
    position: relative;
    height: 60px;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
  }

  .nav_menu.active {
    display: flex;
    justify-content: center;
    grid-gap: 0px;
    padding-bottom: 60px;
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(4,4,80,1) 45%, rgba(14,91,107,1) 100%);
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: calc(100vh - 60px);
  }

  .nav_links {
    text-align: center;
    padding: 1.25rem 0.5rem;
    width: 100%;
    display: table;
  }

  .nav_links:hover:not(.selected_link) {
    background-color: transparent;
    border-radius: 0px;
  }

  .menu_icon {
    color: #fff;
    display: block;
    width: 25px;
    /* position: absolute;
    top: 0;
    right: 0; */
    /* transform: translate(-100%, 50%); */
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    outline: none;
  }

  .bodyOverflow {
    overflow: hidden;
  }

  /* .nav_links_mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav_links_mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  } */

}