.toggle_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-color: #000;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0.125em 0.125em 0 #000, 0.25em 0.25em #fff;

  padding: 0.25em 0.75em;
  margin: 0.25em 0.75em;
  min-height: 44px;
  min-width: 10ch;

  text-align: center;
  line-height: 1.1;

  transition: 220ms all ease-in-out;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

/* Need to uses comma-separated box-shadows here */

.toggle_button[aria-pressed="true"] {
  box-shadow: inset 0 0 0 0.15rem #fff, inset 0.25em 0.25em 0 #000;
  background-color: #e8e8e8;
}

.toggle_button:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.6), 0.125em 0.125em 0 #000,
    0.25em 0.25em #fff;
}

.toggle_button[aria-pressed="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.6), inset 0 0 0 0.15rem #fff,
    inset 0.25em 0.25em 0 #000;
}
