.container {
  width: 100vw;
  height: 100vh;

  font-family: 'Quicksand', sans-serif;
  font-size: 14px;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
  gap: 10px;
}

.container > .content_large, .footer, .content_small {
  padding: 10px;
  border: 1px solid #000000;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.content_large {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.content_small {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer {
  grid-column: 1 / span 2;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 812px) { 
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 4fr 1fr 70px;
  }
  
  .header {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .content_large {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .footer {
    grid-column: 1 / span 1;
  }

  .content_small {
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}