.accordion_section {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.accordion {
  border-radius: 5px;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  background-color :#F0F8FF;
  transition: background-color 700ms linear;
  border-width: 1px;
  border-color: rgb(118, 118, 118);
}

.accordion:hover, .active {
  background-color: #d4ebff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.accordion_title {
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.accordion_icon {
  margin-left: 10px;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion_content_wrapper {
  position: relative;
}

.accordion_content {
  position: absolute;
  top: -1px;
  background-color: #F0F8FF;
  border-radius: 5px;
  overflow: hidden;
  border: 1px  rgb(118, 118, 118) solid;
  width: 100%;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.accordion_text {
  font-weight: 400;
  font-size: 14px;
}

.accordion_text hr {
  margin-left: 15px;
  margin-right: 15px;
}

.accordion_text > p {
  padding: 8px;
}

.display_none {
  display: none;
}