/* Grid */

  .cards_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-gap: 1rem;
      padding: 1rem;
  }

/* Cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid rgb(76, 76, 76);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.card_spans_2 {
  grid-column: 1 / span 2;
}

.card_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.card_heading {
  margin: auto;
  text-align: center;
}

.link_icon_block {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20px;
  margin-left: 10px;
}

.card_description {
  font-weight: 400;
  padding: 1rem;
  margin: 0.5rem;
  flex-grow: 1;
  font-size: 1rem;
  border: 1px dotted gray;
}

@media (max-device-width: 812px) { 
  
  .cards_container {
    grid-template-columns: 1fr;
  }

  .card_spans_2 {
    grid-column: 1 / span 1;
  }
}